.over-about{
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%  8px;
    padding: 20px;
    background: #fdcbf1;
    margin-inline: 20%;
    margin-bottom: 50px;
    animation: scrollLeft;
    animation-timeline: view();
}
.highlight *{
    margin-bottom: 10px;
}
.highlight:nth-child(2){
    margin-bottom: 20px;
}
.highlight h4{
    font-size: 19px;
    font-weight: 550;
    padding: 5px;
    color: blue;
}


@media (max-width:600px) {
    .over-about{
        margin-inline: 10%;

        & p{
            font-size: 14px;
        }
    }
}